{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/user-recipe-list.css') }}">
{% endblock %}
{% block header %}
    {{ include('partials/_header.html.twig') }}
{% endblock %}
{% block menu %}
    {{ include('partials/_menu.html.twig') }}
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="heading">Mes recettes</h1>
        {%if recipes is empty %}
            <div>
                <img src="{{ asset('image/Woman.png') }}" alt="Your Image">
                <p>Vous n'avez encore aucune recette</p>
            </div>
        {% else %}
            <div class="list")>
                {% for recipe in recipes %}
                    <div class="card" >
                        <img src="{{ asset( recipe.image) }}">
                        <a href="{{ path('recipe_show', { 'id': recipe.id }) }}" class="body">{{ recipe.title }}</a>
                        {{ include('recipe/_delete_form.html.twig') }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
