{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/profile.css') }}" />
{% endblock %}

{% block header %}
    {{ include('partials/_header.html.twig') }}
{% endblock %}

{% block menu %}
    {{ include('partials/_menu.html.twig') }}
{% endblock %}


{% block title %}User{% endblock %}

{% block main %}

    <div class="content body">
        <div class="grid">
            <div class="header-grid shadow">
                <img src='https://api.dicebear.com/5.x/thumbs/svg?radius=50&seed={{ user.username }}' class="avatar avatar_display">
                <div class="item-header">
                    <h1 class="title">Profile</h1>
                    <p class="text">Retrouvez toutes les informations vous concernant et les paramètres de votre compte !</p>
                </div>
            </div>
            <div class="inputWrapper">
                <label for="email"> Email </label>
                <input type="text" placeholder="{{ user.email }}" class="shadow" disabled>
            </div>
            <div class="inputWrapper">
                <label for="email"> Firstname </label>
                <input type="text" placeholder="{{ user.firstname }}" class="shadow" disabled>
            </div>
            <div class="inputWrapper">
                <label for="email"> LastName </label>
                <input type="text" placeholder="{{ user.lastname }}" class="shadow" disabled>
            </div>
            <div class="inputWrapper">
                <label for="email"> UserName </label>
                <input type="text" placeholder="{{ user.username }}" class="shadow" disabled>
            </div>

            <div class="footer-grid">
                <a href="{{ path('user_edit') }}" > <button class="link button-primary"> Modifier </button></a>
            </div>
        </div>
    </div>








{% endblock %}
